h2.main.comments {
    background: url(../images/icon_40_module.png) no-repeat 0 0;
}
h2.main.comments-setting {
    background: url(../images/icon_40_setting.png) no-repeat 0 0;
}

div.active .toolbar-button, div.active .light-button {
    border:1px solid #bbb;
    background-color: #fff !important;
}

.module-comments.btn-comments {
    background: url(../images/icon_16_module.png) no-repeat 4px 50%;
    padding-left: 24px
}
.module-comments.btn-setting {
    background: url(../images/icon_16_setting.png) no-repeat 4px 50%;
    padding-left: 24px
}

table.table-striped tbody > tr:nth-child(odd) > td,
table.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #F5F5F5;
}

table.table-hover tbody > tr:hover > td,
table.table-hover tbody > tr:hover > th {
    background-color: #F5F5F5;
}